@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2?12622799') format('woff2'),
       url('../fonts/fontello.woff?12622799') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before { content: '\e800'; }
.icon-cloud:before { content: '\e801'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-gplus:before { content: '\f0d5'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-compass:before { content: '\f14e'; }
.icon-behance:before { content: '\f1b4'; }
