/* TODO:
 *  - change min-height for hero;
 *  - change media query for height: 100vh;
 *  - height: 100vh for smartphones;
 *  - test media for mobiles when layout would be responsive;
 */

/* =========================================================
	BASE
	========================================================= */

/* GLOBAL VARIABLES */

:root {
	--main-font-family: "Open Sans", Helvetica, Arial, sans-serif;
	--base-font-size: 19px;
	--site-padding: 15px;
}

/* SETUP */

html {
	box-sizing: border-box;
	font-family: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;

	font-family: var(--main-font-family);
	font-size: var(--base-font-size);
	color: #2c343b;
	background-color: #fff;
}

img {
	max-width: 100%;
}

p {
	font-weight: 300;
}

textarea {
	resize: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 3px #54a2c7;
}





/* COMMON STYLES */

/* %container */

.section__header,
.features__container,
.plans__container,
.testimonials__container,
.contacts__container {
	margin: auto;
	padding-right: var(--site-padding);
	padding-left: var(--site-padding);
}

/* hide semantic elements */

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}





/* =========================================================
	MODULE
	========================================================= */

/* PAGE */

.page__img {
	border: 10px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 4px 2px rgba(197, 197, 197, 0.7);
}

.page__link {
	color: #0099cb;
}

.page__link:visited {
	color: #8787d0;
}

.page__link:hover {
	text-decoration: none;
}


/* COPYRIGHT */

.copyright {
	font-size: var(--base-font-size);
	font-weight: 300;
	line-height: 1.5;
	text-transform: capitalize;
}

.copyright__link {
	color: inherit;
	text-decoration: none;

	-webkit-transition: color 0.3s ease;
			  transition: color 0.3s ease;
}

.copyright__link:hover,
.copyright__link:focus {
	color: #8787d0;
}


/* GRID */

:root {
	--grid-gap: 15px;
}

.row {
	margin-right: calc(-1 * var(--grid-gap));
	margin-left: calc(-1 * var(--grid-gap));
	font-size: 0;
}

.col {
	display: inline-block;
	vertical-align: top;

	padding-right: var(--grid-gap);
	padding-left: var(--grid-gap);
	font-size: var(--base-font-size);
}

.col-4 {
	width: 33.33333%;
}

.col-6 {
	width: 50%;
}


/* SLIDE GRID */

.slide-grid:not(:last-child) {
	margin-bottom: 50px;
}

.slide-grid::after {
	content: '';
	display: table;
	clear: both;
}

.slide-grid:nth-child(odd) .slide-grid__item {
	float: left;
}

.slide-grid:nth-child(even) .slide-grid__item {
	float: right;
}

.slide-grid:nth-child(odd) .slide-grid__img {
	float: left;
}

.slide-grid:nth-child(even) .slide-grid__img {
	float: right;
}

.slide-grid__img-wrapper {
	width: 40%;
}

.slide-grid__content {
	width: 60%;
	padding-top: 65px;
}

.slide-grid__title {
	margin-top: 0;
	margin-bottom: 0.7em;

	font-size: 28px;
	font-weight: 400;
	line-height: 1.5;
	color: #666;
}

.slide-grid__paragraph {
	margin-top: 0;
	margin-bottom: 16px;
	line-height: 2;
}


/* BUTTON */

button.button {
	font-family: inherit;
	cursor: pointer;
}

a.button {
	text-decoration: none;
}

.button {
	display: inline-block;
	vertical-align: middle;

	padding: 20px 52px;
	font-size: inherit;
	line-height: normal;
	color: #fff;
	background-color: #0099cb;
	border: none;
	border-radius: 10px;
	text-transform: capitalize;

	-webkit-transition: background-color .3s ease;
			  transition: background-color .3s ease;
}

.button:hover,
.button:focus {
	background-color: #58bedf;
}


/* FORM CONTROL */

.form-control {
	display: block;
	width: 100%;
	padding: 15px;

	font-family: inherit;
	font-size: 21px;
	font-weight: 300;
	color: #55595c;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 10px;
}

.form-control::-webkit-input-placeholder {
	color: #000;
}

.form-control:-ms-input-placeholder {
	color: #000;
}

.form-control::-moz-placeholder {
	opacity: 1;
}

.form-control::placeholder {
	color: #000;
}


/* CONTACT FORM */

.contact-form__form-control:not(:last-child) {
	margin-bottom: 18px;
}

.contact-form__message {
	height: 216px;
}

.contact-form__button-wrapper {
	text-align: right;
}

.contact-form__button {
	padding: 16px 48px;
	font-weight: 300;
}


/* SLIDER */

:root {
	--slider-nav-dot-diameter: 20px;
}

.slider {
	position: relative;
	z-index: 200;
}

.slider__item {
	display: none;
}

.slider__item_active {
	display: block;
}

.slider-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;

	position: absolute;
	bottom: 20px;

	width: 100%;
	font-size: 0;
	text-align: center;
	z-index: 300;
}

.slider-nav__item {
	display: inline-block;
	vertical-align: middle;
}

.slider-nav__item:not(:last-child) {
	margin-right: 20px;
}

.slider-nav__dot {
	display: inline-block;
	vertical-align: middle;

	width: var(--slider-nav-dot-diameter);
	height: var(--slider-nav-dot-diameter);

	font-size: var(--base-font-size);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.slider-nav__dot_active {
	background-color: #fff;
}


/* SECTION */

.section:nth-child(odd) {
	background-color: #3f3f67;
}

.section:nth-child(even) {
	background-color: #fff;
}

.section:nth-child(odd) .section__header {
	color: #fff;
}

.section:nth-child(even) .section__header {
	color: inherit;
}

.section__header {
	max-width: 620px;
	margin-bottom: 64px;
	text-align: center;
}

.section__title {
	margin-top: 0;
	margin-bottom: 32px;

	font-size: 32px;
	font-weight: 300;
	line-height: 1.1;
}

.section__desc {
	margin: 0;
	line-height: 1.8;
}


/* SOCIALS */

:root {
	--social-icon-diameter: 45px;
}

.socials {
	margin: 0;
	padding: 0;
	list-style-type: none;

	font-size: 0;
}

.socials__item {
	display: inline-block;
	vertical-align: middle;

	/* local alignment */
	text-align: center;
}

.socials__item:not(:last-child) {
	margin-right: 18px;
}

.socials__link {
	display: inline-block;
	vertical-align: middle;

	width: var(--social-icon-diameter);
	height: var(--social-icon-diameter);
	line-height: var(--social-icon-diameter);

	font-size: var(--base-font-size);
	color: #fff;
	background-color: #60608a;
	border-radius: 50%;
	text-decoration: none;

	/* the 'all' value disfigures the :focus appearance */
	-webkit-transition: color .3s ease,
							  background-color .3s ease;
			  transition: color .3s ease,
							  background-color .3s ease;
}

.socials__link:hover,
.socials__link:focus {
	color: #60608a;
	background-color: #fff;
}





/* =========================================================
	LAYOUT
	========================================================= */

/* HERO */

.hero {
	display: table;
	width: 100%;

	height: 90vh;
	min-height: 720px;
	background: url(../img/bg-hero-1.jpg) #382c52 center / cover no-repeat;
}

.hero_explore {
	background-image: url(../img/bg-hero-2.jpg);
	background-color: #82716b;
}

.hero_signup {
	background-image: url(../img/bg-hero-3.jpg);
	background-color: #637e96;
}

.hero__inner {
	display: table-cell;
	vertical-align: middle;
}

.hero__content {
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 60px;

	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
	text-align: center;
}

.hero__icon {
	font-size: 5.0526em;
	margin-bottom: 0.3646em;
}

.hero__title {
	margin-top: 0;
	margin-bottom: 0.2632em;

	font-size: 3em;
	font-weight: 400;
	line-height: 1.2;
	color: #000;
	text-transform: uppercase;
}

.hero__desc {
	margin-top: 0;
	margin-bottom: 0.6364em;

	font-size: 1.1579em;
	font-weight: 400;
	line-height: 1.4;
	color: #000;
}

.hero__desc_search {
	text-transform: capitalize;
}

.hero__desc_explore {
	margin-bottom: 1.3636em; /* buffer, it works on mobile */
}

.hero__form {
	margin-top: 2.7273em;
}

.hero__input {
	max-width: 400px;
	margin: auto;
	padding: 0.7143em;

	font-size: 1.1053em;
	border: 1px solid #6a6a6a;
}

.hero__button-wrapper {
	margin-top: 1.5789em;
}

.hero__button {
	padding: 1em 2.6em;

	font-size: 1.0526em;
	font-weight: 600;
	letter-spacing: 1px;
}


/* FEATURES */

.features {
	padding-top: 110px;
	padding-bottom: 100px;
	color: #656565;
	background-color: #fff;
}

.features__container {
	max-width: 1080px;
}


/* PLANS */

.plans {
	padding-top: 90px;
	padding-bottom: 100px;
}

.plans__container {
	max-width: 1250px;
}

.plan {
	background-color: #fff;
	border-radius: 20px;
	/*overflow: hidden;*/
	text-align: center;
}

.plan__name {
	margin: 0;
	padding: 20px 0;

	font-size: 29px;
	font-weight: 300;
	color: #3f3f67;
	text-transform: capitalize;
}

.plan__body {
	margin: 0;
	list-style-type: none;

	padding: 55px 0 50px 50px;
	font-weight: 300;
	line-height: 1.5;
	text-align: left;
}

.plan__body_silver {
	background-color: #c4c4db;
}

.plan__body_titanium {
	background-color: #c6d9c8;
}

.plan__body_platinum {
	background-color: #ddd3c1;
}

.plan__item:not(:last-child) {
	margin-bottom: 25px;
}

.plan__button {
	display: block;
	padding: 22px 0;

	font-size: var(--base-font-size);
	font-weight: 400;
	color: #3f3f67;
	border-radius: 0 0 20px 20px;
	text-decoration: none;

	-webkit-transition: all .3s ease;
			  transition: all .3s ease;
}

.plan__button:hover,
.plan__button:focus {
	color: #fff;
}

.plan__button_silver:hover,
.plan__button_silver:focus {
	background-color: #8282aa;
}
.plan__button_titanium:hover,
.plan__button_titanium:focus {
	background-color: #9fbba2;
}
.plan__button_platinum:hover,
.plan__button_platinum:focus {
	background-color: #bfaf92;
}


/* TESTIMONIALS */

.testimonials {
	padding-top: 80px;
	padding-bottom: 80px;
}

.testimonials__container {
	max-width: 716px;
}

.testimonial-group {
	padding-top: 10px;
	padding-bottom: 60px;
}

.testimonial {
	text-align: center;
}

.testimonial__slider-nav {
	bottom: 10px;
}

.testimonial__slider-nav .slider-nav__item:not(:last-child) {
	margin-right: 5px;
}

.testimonial__slider-nav .slider-nav__dot {
	background-color: rgb(158,158,158);
	border: 1px solid #fff;
}

.testimonial__slider-nav .slider-nav__dot_active {
	background-color: #cbcbcb;
}

.testimonial__img {
	border-width: 8px;
	vertical-align: middle;
}

.testimonial__content {
	margin-top: 30px;
	margin-bottom: 0;
	line-height: 1.9;
}


/* CONTACTS */

.contacts {
	padding-top: 80px;
	padding-bottom: 50px;
}

.contacts__container {
	max-width: 846px;
}

.contacts__header {
	max-width: 100%;
}


/* FOOTER */

.footer {
	padding-bottom: 80px;
	color: #fff;
	background-color: #3f3f67;
	text-align: center;
}

.footer__socials {
	margin-bottom: 50px;
}

.footer__copyright {
	margin-top: 0;
	margin-bottom: 0;
}




/* =========================================================
	MEDIA QUERIES
	========================================================= */

@media (orientation: portrait) {
	.hero {
		height: 70vh;
	}
}


/* only mobiles (they don't have capability to hover over),
	except this rule you can limit the orientation portrait rule above */

@media (orientation: landscape) and (hover: none),
		 (orientation: portrait) and (max-height: 600px) {
	.hero {
		height: 100vh;
	}
}


@media (max-width: 1170px) {
	.hero {
		min-height: 670px;
	}

	.hero__content {
		width: 60%;
		max-width: 560px;
		padding: 5%;
		font-size: 17px;
	}

	.hero__input {
		max-width: 375px;
	}
}


@media (max-width: 860px) {
	.hero {
		min-height: 590px;
	}

	.hero__content {
		font-size: 15px;
	}
}


/* test 820px later */

@media (max-width: 745px) {
	.hero {
		min-height: 550px;
	}

	.hero__icon {
		font-size: 4.2em;
	}

	.hero__title {
		font-size: 2.4em;
	}

	.hero__form {
		margin-top: 2.1333em;
	}

	.hero__button-wrapper {
		margin-top: 1em;
	}

	.hero__button {
		font-size: 0.95em;
	}
}


@media (max-width: 700px) {
	.hero {
		padding-left: 5%;
		padding-right: 5%;
	}

	.hero__content {
		width: 100%;
		max-width: 420px;
		padding: 30px;
	}

	.hero__input {
		max-width: 320px;
	}
}


@media (max-width: 460px) {
	.hero {
		min-height: 525px;
	}

	.hero__content {
		font-size: 13.33333px;
	}

	.hero__title,
	.hero__desc {
		font-weight: 300;
	}

	.hero__desc {
		font-size: 1.2em;
	}
}


@media (max-width: 360px) {
	.hero {
		padding-left: 2%;
		padding-right: 2%;
	}
}
