/* =========================================================
   BASE
   ========================================================= */

/* VARIABLES */

:root {
   --base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
   --base-font-size: 19px
}

/* SETUP */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: var(--base-font-family);
   font-size: var(--base-font-size);
   font-weight: 300;
   color: #2c343b;
   background-color: #fff;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
}


/* =========================================================
   MODULE
   ========================================================= */

/* BUTTON */

button.button {
   cursor: pointer;
}

.button {
   display: inline-block;
   padding: 18px 50px;
   font-family: inherit;
   font-size: inherit;
   color: #fff;
   background-color: #0099cb;
   border: none;
   border-radius: 10px;
   text-transform: capitalize;
   transition: background-color .3s ease;
}

.button:hover {
   background-color: #58BEDF;
}

/* FORM CONTROL */

.form-control {
   display: inline-block;
   width: 100%;
   padding: 15px;
   font-family: inherit;
   font-size: 21px;
   font-weight: 300;
   color: #55595c;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 10px;
}

.form-control:focus {
   outline: 0;
   border-color: #66afe9;
}

.form-control::placeholder {
   color: #000;
}

.form-control::-webkit-input-placeholder {
   color: #000;
}

.form-control::-ms-input-placeholder {
   color: #000;
}

.form-control:-ms-input-placeholder {
   color: #000;
}

.form-control::-moz-placeholder {
   opacity: 1;
}

/* SLIDER */

.slider__item {
   display: none;
}

.slider__item_active {
   display: block;
}


/* =========================================================
   LAYOUT
   ========================================================= */

/* HERO */

.hero {
   position: relative;
   height: 900px;
   background: center / cover no-repeat;
}

.hero_search {
   background-image: url(../img/bg-hero-1.jpg);
   background-color: #382c52;
}

.hero_explore {
   background-image: url(../img/bg-hero-2.jpg);
   background-color: #82716b;
}

.hero_signup {
   background-image: url(../img/bg-hero-3.jpg);
   background-color: #637e96;
}

.hero__content {
   position: absolute;
   top: 50%; left: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

   width: 100%;
   max-width: 600px;
   padding: 60px;
   background-color: rgba(255,255,255,0.8);
   border-radius: 20px;
   text-align: center;
}

.hero__logo {
   font-size: 96px;
}

.hero__title {
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 58px;
   font-weight: 400;
   color: #000;
   text-transform: uppercase;
}

.hero__subtitle {
   margin-bottom: 50px;
   font-size: 20px;
   color: #000;
   text-transform: capitalize;
}

.hero__desc {
   margin-bottom: 14px;
   font-size: 20px;
   line-height: 1.4;
   color: #000;
}

.hero__input {
   max-width: 400px;
   margin-bottom: 15px;
   border: 1px solid #6a6a6a;
}

.hero__button {
   /*display: block;*/
   /*margin: auto;*/
   margin-top: 15px;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
}
