/* =========================================================
   BASE
   ========================================================= */

/* VARIABLES */

:root {
   --base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
   --base-font-size: 19px
}

/* SETUP */

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: var(--base-font-family);
   font-size: var(--base-font-size);
   color: #2c343b;
   background-color: #fff;
}

img {
   max-width: 100%;
}

p {
   font-weight: 300;
}

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
}


/* =========================================================
   MODULE
   ========================================================= */

/* GRID */

.row {
   margin-right: -15px;
   margin-left: -15px;
   font-size: 0;
}

.col {
   display: inline-block;
   padding-right: 15px;
   padding-left: 15px;
   font-size: var(--base-font-size);
}

.col-4 {
   width: 33.33333%;
}

.col-6 {
   width: 50%;
}

/* BUTTON */

button.button {
   cursor: pointer;
}

.button {
   display: inline-block;
   padding: 20px 52px;
   font-family: inherit;
   font-size: inherit;
   color: #fff;
   background-color: #0099cb;
   border: none;
   border-radius: 10px;
   text-transform: capitalize;
   transition: background-color .3s ease;
}

.button:hover {
   background-color: #58BEDF;
}

/* FORM CONTROL */

.form-control {
   display: inline-block;
   width: 100%;
   padding: 15px;
   font-family: inherit;
   font-size: 21px;
   font-weight: 300;
   color: #55595c;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 10px;
}

.form-control:focus {
   outline: 0;
   border-color: #66afe9;
}

.form-control::placeholder {
   color: #000;
}

.form-control::-webkit-input-placeholder {
   color: #000;
}

.form-control::-ms-input-placeholder {
   color: #000;
}

.form-control:-ms-input-placeholder {
   color: #000;
}

.form-control::-moz-placeholder {
   opacity: 1;
}

/* SLIDER */

.slider {
   position: relative;
}

.slider__item {
   display: none;
}

.slider__item_active {
   display: block;
}

.slider-nav {
   position: absolute;
   bottom: 20px;

   width: 100%;

   font-size: 0;
   text-align: center;
   z-index: 300;
}

.slider-nav__item {
   display: inline-block;
}

.slider-nav__item:not(:last-child) {
   margin-right: 20px;
}

.slider-nav__dot {
   display: inline-block;
   width: 20px;
   height: 20px;
   font-size: var(--base-font-size);
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 50%;
}

.slider-nav__dot_active {
   background-color: #fff;
}

/* SLIDES */

.slides {
   padding-top: 100px;
   padding-bottom: 80px;
   color: #656565;
   background-color: #fff;
}

.slides__container {
   max-width: 1080px;
   padding-right: 15px;
   padding-left: 15px;
   margin: auto;
}

.slide:not(:last-child) {
   margin-bottom: 50px;
}

.slide::after {
   content: '';
   display: table;
   clear: both;
}

.slide:nth-child(odd) .slide__item {
   float: left;
}

.slide:nth-child(even) .slide__item {
   float: right;
}

.slide:nth-child(odd) .slide__img {
   float: left;
}

.slide:nth-child(even) .slide__img {
   float: right;
}

.slide__img-wrapper {
   width: 40%;
}

.slide__content {
   width: 60%;
   padding-top: 65px;
}

.slide__img {
   border: 10px solid #fff;
   border-radius: 50%;
   box-shadow: 0px 0px 4px 2px rgba(197, 197, 197, 0.5);
}

.slide__title {
   margin-top: 0;
   margin-bottom: 0.7em;
   font-size: 28px;
   font-weight: 400;
   line-height: 1.5;
   color: #666;
}

.slide__paragraph {
   margin-top: 0;
   margin-bottom: 16px;
   line-height: 2;
}

/* SECTION */

.section:nth-child(odd) {
   background-color: #3f3f67;
}

.section:nth-child(even) {
   background-color: #fff;
}

.section:nth-child(odd) .section__header {
   color: #fff;
}

.section:nth-child(even) .section__header {
   color: inherit;
}

.section__header {
   max-width: 620px;
   margin: auto;
   margin-bottom: 64px;
   padding-right: 15px;
   padding-left: 15px;
   text-align: center;
}

.section__title {
   margin-top: 0;
   margin-bottom: 32px;
   font-size: 32px;
   font-weight: 300;
   line-height: 1.1;
}

.section__desc {
   margin: 0;
   line-height: 1.8;
}


/* =========================================================
   LAYOUT
   ========================================================= */

/* HERO */

.hero {
   position: relative;
   height: 900px;
   background: center / cover no-repeat;
   z-index: 100;
}

.hero_search {
   background-image: url(../img/bg-hero-1.jpg);
   background-color: #382c52;
}

.hero_explore {
   background-image: url(../img/bg-hero-2.jpg);
   background-color: #82716b;
}

.hero_signup {
   background-image: url(../img/bg-hero-3.jpg);
   background-color: #637e96;
}

.hero__content {
   position: absolute;
   top: 50%; left: 50%;
   -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

   width: 100%;
   max-width: 600px;
   padding: 60px;
   background-color: rgba(255,255,255,0.8);
   border-radius: 20px;
   text-align: center;
   z-index: 200;
}

.hero__logo {
   font-size: 96px;
}

.hero__title {
   margin-top: 35px;
   margin-bottom: 20px;
   font-size: 57px;
   font-weight: 400;
   color: #000;
   text-transform: uppercase;
}

.hero__subtitle {
   margin-bottom: 50px;
   font-size: 20px;
   font-weight: 400;
   color: #000;
   text-transform: capitalize;
}

.hero__desc {
   margin-bottom: 14px;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.4;
   color: #000;
}

.hero__input {
   max-width: 400px;
   margin-bottom: 15px;
   border: 1px solid #6a6a6a;
}

.hero__button {
   /*display: block;*/
   /*margin: auto;*/
   margin-top: 15px;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1px;
}

/* PLANS */

.plans {
   padding-top: 90px;
   padding-bottom: 100px;
}

.plans__container {
   max-width: 1250px;
   margin: auto;
   padding-right: 15px;
   padding-left: 15px;
}

.plan {
   background-color: #fff;
   border-radius: 20px;
   overflow: hidden;
   text-align: center;
}

.plan__name {
   margin: 0;
   padding: 18px 0;
   font-size: 29px;
   font-weight: 300;
   color: #3f3f67;
   text-transform: capitalize;
}

.plan__body {
   padding: 50px;
   padding-right: 0;
   font-weight: 300;
   line-height: 1.5;
   text-align: left;
}

.plan__body_silver {
   background-color: #c4c4db;
}

.plan__body_titanium {
   background-color: #c6d9c8;
}

.plan__body_platinum {
   background-color: #ddd3c1;
}

.plan__item:not(:last-child) {
   margin-bottom: 30px;
}

.plan__button {
   display: block;
   padding: 22px 0;
   font-size: var(--base-font-size);
   font-weight: 400;
   color: #3f3f67;
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
}

.plan__button:hover {
   color: #fff;
}

.plan__button_silver:hover {
   background-color: #8282aa;
}
.plan__button_titanium:hover {
   background-color: #9fbba2;
}
.plan__button_platinum:hover {
   background-color: #bfaf92;
}
